.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 250px; 
    width: 350px;

    background-color: black;
    opacity: 0.8;
    color: white;

    border: 1px solid black;
    border-radius: 10px;

    padding: 5px 10px;
    gap: 5px;
    text-align: center;

}

.caixa-principal .ferramentas{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 10px;
}

.caixa-principal .ferramentas .pesquisar-cidade{
    background-color: black;
    opacity: 0.8;

    height: 20px;
    width: calc(100%-100px); 
    /* utiliza todo o espaço menos 100px */

    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 10px;

    padding: 5px;

    color: #fff;
    font-size: 16px;
    outline: none;

}


.caixa-principal .ferramentas .botao-buscar{
    border: 1px solid black;
    border-radius: 15px;

    background-color: #7c7c7c2b;
}

.caixa-principal .ferramentas .botao-buscar .img-botao-buscar{
    width: 25px;
    cursor: pointer;
}

.caixa-principal .ferramentas .botao-buscar .img-botao-buscar:hover{
    width: 27px;
}

.caixa-principal h2{
    margin-top: 10px;
}

.caixa-principal .caixa-secundaria .tempo {
    text-transform: capitalize;
    font-weight: 700;
}

.caixa-principal .graus{
    font-weight: 700;
}

.caixa-principal .caixa-secundaria img{
    height: 50px;
}

.caixa-principal .umidade{
    font-weight: 700;
}



